<h2>Contact</h2>
<p><span>Email: </span><a href="mailto:jules@prevostdev.com">jules@prevostdev.com</a></p>
<%= simple_form_for @contact do |f| %>
  <%= f.input :first_name,label: "Prénom", placeholder: "Jules" %>
  <%= f.input :last_name, label: "Nom", placeholder: "Prévost" %>
  <%= f.input :email, label: "Email", placeholder: "jules@prevostdev.com" %>
  <%= f.input :phone_number, label: "Numéro de téléphone", placeholder: "06 00 00 00 00 / +33 6 00 00 00 00" %>
  <%= f.input :company, label: "Entreprise (facultatif)", placeholder: "Mon entreprise" %>
  <%= f.input :message, label: "Message", placeholder: "Je veux absolument travailler avec vous !" %>
  <% if @show_checkbox_recaptcha %>
    <%= recaptcha_tags %>
  <% else %>
    <%= recaptcha_v3(action: 'contact', site_key: ENV['RECAPTCHA_SITE_KEY']) %>
      <%= submit_tag "Me contacter", class: "btn btn-primary mb-3" %>
  <% end %>
  <p class="captcha">This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>

  <%#= f.button :submit, "Me contacter", class: "btn btn-primary mb-3" %>
<% end %>
