<nav class="navbar navbar-light">
  <%= link_to root_path do %>
    <%= image_tag "jprevostdev.svg", class: "logo" %>
    <%= image_tag "jprevost-text.svg", class: "logo text-logo" %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "LG Admin", destroy_user_session_path, method: :delete %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Présentation", presentation_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", projects_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", new_contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

