<div class="home-infos p-3 ">
  <div class="container home-infos-flex">
    <div class="test">
    <%= cl_image_tag("don%27t%20touch/jprevost_dev_site_khiib2.jpg", secure: true, alt: "Avatar de Jules Prévost, développeur web full-stack (Ruby on Rails)", class: "avatar-square mb-3") %>
    <h1>Jules Prévost</h1>
    <h2>Développeur web freelance</h2>
    <h3><i class="fas fa-map-marker-alt mr-1"></i>Bordeaux, Paris, distanciel</h3>
    </div>
    <div class="slogan">
      <i class="fas fa-quote-left"></i><p>Je vous accompagne dans tous vos projets web</p><i class="fas fa-quote-right"></i>
    </div>
    <div class="home-infos-highlights">
      <div class="home-infos-highlight">
        <%= image_tag "ruby-on-rails.png", alt: "Logo de Ruby On Rails", class: "logo-img" %>
        <p>Back-end</p>
      </div>
      <div class="home-infos-highlight">
        <%= image_tag "js.png", alt: "Logo de javascript", class: "logo-img" %>
        <p>Ruby on Rails</p>
      </div>
      <div class="home-infos-highlight">
        <%= image_tag "js.png", alt: "Logo de javascript", class: "logo-img" %>
        <p>Javascript</p>
      </div>
    </div>
</div>
<!--   <div class="social-links">
    <a target="_blank" href="https://github.com/prevostjules"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/prevostjules/"><i class="fab fa-linkedin"></i></a>
    <a target="_blank" href="https://twitter.com/prevost_jules"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="https://www.instagram.com/prevost_jules/"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/julesael.prevost"><i class="fab fa-facebook"></i></a>
  </div> -->
<!--   <div class="d-flex">
  <%= link_to "Contact", new_contact_path, class: "btn btn-primary m-2" %>
  <%= link_to "Portfolio", projects_path, class: "btn btn-primary m-2" %>
  </div> -->
</div>

<div class="missions-big-screen">
  <div class="div-classic p-3 div-classic-home-big-screen">
    <p class="slogan">Je vous accompagne dans tous vos projets web.</p>
  </div>


  <div class="div-keppel p-3">
    <div class="container card-container">
      <div class="card card-simple">
        <h3>Analyse</h3>
        <p>J’étudie vos besoins, votre budget et je vous aide à choisir les outils les plus adaptés à votre projet.</p>
      </div>
      <div class="card card-simple">
        <h3>Conception</h3>
        <p>A vos côtés, je crée un parcours utilisateur et un schéma de base de données cohérent avec votre idée.</p>
      </div>
      <div class="card card-simple">
        <h3>Code</h3>
        <p>Mailing, recherche intégrée, solution de paiement, intégration du design… Ligne de code après ligne de code, je donne vie à votre site et vous accompagne jusqu’à sa mise en ligne.</p>
      </div>
      <div class="card card-simple">
        <h3>Délais</h3>
        <p>Dès le début, nous fixons ensemble un calendrier clair avec différentes étapes de rendu. A chaque étape, vous pourrez ainsi contrôler la bonne avancée du travail.</p>
      </div>
    </div>
  </div>
</div>

<div class="p-3 container">
  <h2>Compétences</h2>
  <div class="d-flex flex-column align-items-center">
    <div class="competences">
      <%= image_tag "ruby-on-rails.png", alt: "Logo de Ruby On Rails", class: "logo-img" %>
      <%= image_tag "git.png", alt: "Logo de git", class: "logo-img" %>
      <%= image_tag "github.png", alt: "Logo de github", class: "logo-img" %>
      <%= image_tag "bootstrap.png", alt: "Logo de bootstrap", class: "logo-img" %>
      <%= image_tag "postgresql.png", alt: "Logo de postgresql", class: "logo-img" %>
      <%= image_tag "html.png", alt: "Logo de html", class: "logo-img" %>
      <%= image_tag "css.png", alt: "Logo de css", class: "logo-img" %>
      <%= image_tag "wordpress.png", alt: "Logo de wordpress", class: "logo-img" %>
      <%= image_tag "js.png", alt: "Logo de javascript", class: "logo-img" %>
    </div>
    <div id="results">
    </div>
  </div>
</div>



<div class="div-banana p-3">
  <div class="container">
  <h2>Mes projets</h2>
  <div class="card-container">
    <% @projects.each do |project| %>
      <%= render "shared/card-project", project: project %>
    <% end %>
  </div>
  <div class="d-flex justify-content-around">
    <%= link_to "Tous mes projets", projects_path, class: "btn btn-secondary" %>
  </div>
</div>
</div>

<div class="classic mb-2 p-3">
  <div class="container">
    <%= render "shared/contact-form" %>
  </div>
</div>
