<div class="container mb-2">
  <%= simple_form_for @contact do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :company %>
    <%= f.input :message %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
