<%= simple_form_for(@project) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
  </div>
  <%= f.input :summary %>
  <%= f.input :workers %>
  <%= f.input :days %>
  <%= f.input :photo, as: :file %>
  <div class="form-inputs">
    <%= f.rich_text_area :rich_body %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
